<h1 mat-dialog-title>Change password</h1>
<div mat-dialog-content [formGroup]="form">
   <mat-form-field  appearance="outline" class="field-full-width">
    <mat-label>Current password</mat-label>
    <input matInput type="password" placeholder="Current password" formControlName = "currentPassword">
    <mat-error>{{getErrorMessage('currentPassword')}}</mat-error>
    <mat-hint *ngIf="!form.value.currentPassword">Enter your current password</mat-hint>
   </mat-form-field>
   <mat-form-field  appearance="outline" class="field-full-width">
    <mat-label>New password</mat-label>
    <input matInput type="password" placeholder="New password" formControlName = "newPassword">
    <mat-error>{{getErrorMessage('newPassword')}}</mat-error>
    <mat-hint *ngIf="!form.value.newPassword">Enter your new password</mat-hint>
   </mat-form-field>
   <mat-form-field  appearance="outline" class="field-full-width">
    <mat-label>Confirm new password</mat-label>
    <input matInput type="password" placeholder="Confirm new password" formControlName = "confirmPassword">
    <mat-error>{{getErrorMessage('confirmPassword')}}</mat-error>
    <mat-hint *ngIf="!form.value.confirmPassword">Confirm your new password</mat-hint>
   </mat-form-field>
  <div class="error-info" *ngIf="error">{{error}}</div>
  <div class="result-info" *ngIf="lastResult">Password successfully changed</div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" [disabled]="!form.valid">Save</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>
